body{
    background-image: linear-gradient(to bottom, transparent, transparent, black 70%), url(../Arquivos/myspace.jpg);
    overflow: hidden;
}

.ContainerLogin{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 50px;
    text-align: center;
    background-color: #06141d;
    color: aliceblue;
    border-radius: 15px;
    box-shadow: 0 0 30px #0bffde;
}

h1{
    margin: 10px 0 10px 0;
    color: #0bffde;
    font-family: sans-serif, monospace;
    font-weight: 900;
}

p{
    margin: 0 0 20px 0;
}

input{
    font-family: Arial, sans-serif;
    border: solid 1px;
    border-radius: 17px;
    padding: 0 0 0 10px;
    width: 215px;
    height: 34px;
    margin: 5px;
}

input:hover{
    border: solid 1px #0bffde;
    box-shadow: 0 0 30px #0bffde;
}

input:focus{
    box-shadow: 0 0 30px #0bffde;
}

a{
    margin: 5px 0 15px 0;
    text-decoration: none;
    font-family: tahoma;
    font-size: 13px;
    color: blue;
}

#btn{
    background-color: #bbffca;
    border: solid 1px;
    border-radius: 17px;
    padding: 0;
    width: 125px;
    height: 34px;
    margin: 5px;
}

#btn:hover{
    transition: 0.5s;
    box-shadow: 0 0 30px #0bffde;
}

#btn:active{
    transition: 0.1s;
    border: solid 1px #ff1b0b;
    box-shadow: 0 0 40px #ff1b0b;
}

